:root{
    /* --background_dark: #020B10; */
    --background_dark: #020b10; 
    --background_lighter_dark: #2D383E;
    --background_highlight: #8F0B13;
}

*{
    margin: 0;
    color: rgb(198, 202, 230);
    /* outline: 1px solid red; */
}

.w_100{
    width: 100%;
}

.background_dark{
    background-color: var(--background_dark);
}

.background_lighter_dark{
    background-color: var(--background_lighter_dark);
}

.background_highlight{
    background-color: var(--background_highlight);
}

.background_almost_light{
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border-radius: 1rem;
}
nav{
    height: 5vh;
    width: 100%;
}

.flex{
    display: flex;
}

.flex_column{
    flex-direction: column;
}

.justify_center{
    justify-content: center;
}

.justify_between{
    justify-content:space-between;
}

.justify_self_center{
    justify-self: center;
}

.justify_self_end{
    justify-self: flex-end;
}

.align_center{
    align-content: center;
}

.align_self_center{
    align-self: center;
}

.padding_x_1{
    padding: 0 1rem;
}

.padding_y_1{
    padding: 1rem 0;
}

.padding_y_2{
    padding: 2rem 0;
}

.padding_y_3{
    padding: 3rem 0;
}

.padding_y_4{
    padding: 4rem 0 0 0;
}   

.margin_x_1{
    margin: 0 1rem;
}

.little_margin{
    margin: 0.2rem 0;
}

.margin_y_1{
    margin: 1rem 0;
}

.margin_y_4{
    margin: 4rem 0;
}

.margin_y_2{
    margin: 2rem 0;
}

.mb_5{
    margin-bottom: 5rem;
}

.mb_4{
    margin-bottom: 4rem;
}

.mt_4{
    margin-top: 4rem;
}

.mt_2{
    margin-top: 2rem;
}

.ml_2{
    margin-left: 2rem;
}

.left_auto{
    margin-left: auto;
}

.mid_auto{
    margin-left: auto;
    margin-right: auto;
}

nav ul li{
    list-style: none;
}

.nav_link:hover{
    color: #fff;
}

a{
    text-decoration: none;
}

main{
    height: 90vh;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid #03131C;
}

.container{
    width: 90%;
}

.title{
    display: flex;
    justify-self: center;
    border-bottom: 1px solid rgb(198, 202, 230);
    font-family: "Inter", serif;
    font-weight: 200;
}

.border_left_1{
    border-left: 2px solid #8F0B13;
}

.hidden{
    display: none;
}

.t_4{
    font-size: 4rem;
}

.t_2{
    font-size: 1rem;
}

.t_2_5{
    font-size: 1.5rem;
}

.t_mid{
    font-size: 2rem;
}

.t_3{
    font-size: 3rem;
}


.btn{
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    
}

.btn, .link{
    background-color: #051822;
}

.btn:hover .link, .btn:hover{
    background-color: #0e364e;
    color: white;
}

.text_bigger{
    font-size: 1.3rem;
}

.shadow{
    box-shadow: 0 2 10px 5px;
}

.border_0{
    border: 0;
}
.border_1{
    border: 1px solid #03131C;
}

.shadow_1{
    box-shadow: 0px 1px 1px 0px #000;
}

.testing_width{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: typewritter 7s 2;
}

.floating_cursor::after{
    margin-left: 5px;
    content: "";
    border: 1px solid rgb(198, 202, 230);
    animation: blink infinite 0.8s;
}

.full_width{
    width: 100%;
}
.span_6{
    width: 66.7%;
}

.half_width{
    width: 50%;
}

.three_quarters{
    width: 75%;
}

.span_4{
    width: 33.3%;
}

.span_5{
    width: 41.5%;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.playwrite_au_vic_guides_regular {
    font-family: "Playwrite AU VIC Guides", serif;
}

.poppins{
    font-family: "Poppins", serif;
    font-weight: 300;
  font-style: normal;
}

/* make a progress bar for 80% maroon with another oval being what is meant to be 100%*/
.progress_bar{
    position: relative;
    width: 100%;
    height: 1rem;
    background-color: #03131C;
    border-radius: 1rem;
}

/* make the progress class with 80% */
.progress{
    position: absolute;
    height: 100%;
    background-color: #8F0B13;
    border-radius: 1rem;
}

.progress_92{
    width: 92%;
}

.progress_80{
    width: 80%;
}

.progress_90{
    width: 90%;
}

.progress_75{
    width: 75%;
}

.progress_70{
    width: 70%;
}

.progress_60{
    width: 60%;
}

/* =========================  ANIMATIONS  ======================== */

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes typewritter {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
    
}