:root{
    --background_dark: #051822;
}

*{
    background-color: var(--background_dark);
    margin: 0;
    color: white;
    /* outline: 1px solid red; */
}

nav{
    height: 5vh;
    width: 100%;
}

.flex{
    display: flex;
}

.justify_center{
    justify-content: center;
}

.align_center{
    align-content: center;
}

.align_self_center{
    align-self: center;
}

.padding_x_1{
    padding: 0 1rem;
}

.padding_y_2{
    padding: 2rem 0;
}

.padding_y_3{
    padding: 3rem 0;
}

.margin_x_1{
    margin: 0 1rem;
}

.margin_y_1{
    margin: 1rem 0;
}

nav ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    height: 95vh;
    justify-content: space-around;
}

.container{
    margin: 0 2rem;

}

.hidden{
    display: none;
}

.t_4{
    font-size: 4rem;
}

.t_2{
    font-size: 1rem;
}


.btn{
    padding: 0.5rem;
    border-radius: 1rem;
}

.text_bigger{
    font-size: 1.3rem;
}

.shadow{
    box-shadow: 0 2 10px 5px rgba(0, 0, 0, 0.5);
}

.border_0{
    border: 0;
}